# This is a Debug Configuration File. The Source is strewn with debugMsg statements. 
# They are activated by pattern matching with active patterns in this file.
#:
#:trex
:trex:always
#:trex:synch
#:ConstraintEngine
#:Constraint
#:Solver
#:Solver:step
#:Solver:printPlan
#:Solver:decisionStack
#:ConstrainedVariable
#:FlawFilter
#:Token
#:Timeline
#:PlanDatabase
#:PlanWorks
#:Interpreter
#:RuleInstance
#:CESchema