.witre-popup {
    position: fixed;
    right: 5px;
    bottom: 0px;
    border: 1px solid #BBB;
    border-bottom: 0px;
    z-index: 100;
    background-color: white;
}

.popup-minimized {
    width: 200px;
    height: 20px;
}

.popup-maximized {
    width: 100%;
    height: 250px;
}